@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Global hover effect using CSS modules */
svg:hover path {
  fill: #0f0aeF;
  transition: fill 0.3s ease;
}

/* Apply scaling effect on hover */
svg:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

:root {
  --Text-Grey: #636363;
}
.custom-border {
  border: 1px solid rgba(15, 10, 239, 0.75); 
}